html,
body {
  height: 100%;
  margin: 0;

  font-family: "Fredoka", system-ui, sans-serif;


}

body {
  min-height: 100vh;

  background-image: url("/bg2.jpg");
  background-size: cover;        /* ключевое */
  background-position: center;
  background-repeat: no-repeat;

  /* чтобы не дергалось на мобилках */
  background-attachment: scroll;

  background-color: #020617;

  color: #45acdb;

}
