html, body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  min-height: 100%;
}

body {
  min-height: 100vh;

  background: 
    url("/bg.webp") center / cover no-repeat;
  background-color: #020617;

  color: #45acdb;
}
